# ignore latex stuff
proposal/project_proposal.aux
proposal/project_proposal.log
proposal/project_proposal.pdf
proposal/project_proposal.bbl
proposal/project_proposal.blg
proposal/project_proposal.out
