# ignore latex stuff
proposal/project_proposal.aux
proposal/project_proposal.log
proposal/project_proposal.pdf
proposal/project_proposal.bbl
proposal/project_proposal.blg
proposal/project_proposal.out
midterm/project_midterm.aux
midterm/project_midterm.log
midterm/project_midterm.pdf
midterm/project_midterm.bbl
midterm/project_midterm.blg
midterm/project_midterm.out
data/*
code/__pycache__/*
